#root {
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
}

.Acontainer{
  display: flex;
  flex-direction: column;
}

.Acontainer-sidebar{
  display: flex;
  flex-direction: column;
  margin-left: 220px;
}
